body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  width: fit-content;
  height: auto;
  padding: 10px 0px;
  border-top: 5px solid rgb(77, 77, 77);
  border-bottom: 5px solid rgb(77, 77, 77);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.box {
  width: 150px;
  height: 80px;
  border-radius: 10px;
}

#box-1 {
  background-color: rgb(255, 159, 159);
}

#box-2 {
  background-color: rgb(255, 98, 98);
}

#box-3 {
  background-color: rgb(255, 63, 63);
}

#box-4 {
  background-color: rgb(255, 39, 39);
}

#box-5 {
  background-color: red;
}

#btnStart,
#btnStop {
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  width: 160px;
}

#btnStart {
  background-color: red;
}
#btnStop {
  background-color: blue;
}

.btn-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: fit-content;
  height: fit-content;
}
